body {
    margin: 0;
    background-color: #000121;
    color: white;
    font-family: Montserrat;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr;
}

/* Je met la police du site */
@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-black;
    src: url(../font/Montserrat-Black.ttf);
}

@font-face {
    font-family: Montserrat-bold;
    src: url(../font/Montserrat-Bold.ttf);
}

/* J'enlève le scroll sur la page */

html,
main {
    overflow: hidden;
}

main {
    grid-column: 1/ 4;
    grid-row: 2;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

img {
    width: 100%;
}

/* Header du site */

header {
    border-bottom: solid #F6FF00 1px;
    grid-column: 1/ 4;
    grid-row: 1;
}

.ContenuHeader {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

header>div {
    display: flex;
}

.LoL {
    font-family: Montserrat-bold;
}

.HeaderLogo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.HeaderCategories {
    display: flex;
    gap: 32px;
    align-items: center;
}

.CompteurCategories {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Style de la partie de gauche */

.PartieGauche {
    grid-column: 1 / 2;
    grid-row: 2;
    background-color: #000212;
    border-right: solid #F6FF00 1px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: #F6FF00 #000121;
    scrollbar-width: thin;
}

.GraphRole {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-15%);
    padding-bottom: 32px;
}

/* Le svg qui affiche le % de chaque role  dans le jeu */
.Tarte {
    transform: scale(200%);
}

.Tarte>path {
    transform: scale(0%);
    transform-origin: 50% 50%;
    transition: 0.4s;
    transition-delay: var(--DelaiDeLaTransition);
}

.MouleATarte {
    border: solid #F6FF00 1px;
    border-radius: 100%;
    transform: translateY(50%);
    background-color: #000212;
}

.ContenuPartieGauche {
    width: 90%;
    margin: auto;
}

.CompteurRoleGlobal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: solid #F6FF00 1px;
    gap: 16px;
    padding: 126px 16px 0px 16px;
}

.CompteurRole {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 16px;
    gap: 16px;
    text-align: center;
}

.RondRole {
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

.CompteurRole:nth-child(1) .RondRole {
    background-color: #17C100;
}

.CompteurRole:nth-child(2) .RondRole {
    background-color: #D8D800;
}

.CompteurRole:nth-child(3) .RondRole {
    background-color: #D78400;
}

.CompteurRole:nth-child(4) .RondRole {
    background-color: #B300EF;
}

.CompteurRole:nth-child(5) .RondRole {
    background-color: #CE0000;
}

.CompteurRole:nth-child(6) .RondRole {
    background-color: #008CE3;
}

/* Les filtres de la page (de base ils étaient dans la partie de gauche) */
.FiltrageRole {
    background-color: #565656;
    color: white;
    border: solid #F6FF00 1px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.FiltreurRoleGlobal {
    padding: 0px 16px;
}

.ToutLesFiltres {
    display: flex;
    gap: 16px;
}

.TitreFiltrageRole {
    margin-bottom: 16px;
}

/* Partie centrale de la page où il se passe le plus d'intéraction */
.PartieCentre {
    grid-column: 2/ 3;
    grid-row: 2;
    height: 100vh;
}

.ContenuPartieCentre {
    width: 90%;
    margin: auto;
}

.TitrePartieCentre {
    font-family: Montserrat-bold;
    cursor: pointer;
    width: fit-content;
}

.PartieCentreLogo {
    display: flex;
    gap: 16px;
}

.SousTitrePartieCentre {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ImageFiltreur {
    display: flex;
    align-items: center;
}

.PartieCentreQuiBougePas {
    border-bottom: solid #F6FF00 1px;
    background-color: #000121;
    padding-bottom: 32px;
    padding-top: 32px;
    margin-bottom: 16px;
}

/* L'endroit où l'utilisateur va pouvoir scroll et voir les différents champions */
.ScrollHere {
    overflow: auto;
    height: 580px;
    scrollbar-color: #F6FF00 #000121;
    scrollbar-width: thin;
    margin-left: 16px;
}

.NomPersonnageSelectionne {
    font-family: Montserrat-black;
}

.ClassePersonnageSelectionne {
    font-family: Montserrat-bold;
}

.RolePersonnageSelectionne {
    display: flex;
    height: 32px;
    gap: 8px;
    width: 100%;

}

.image {
    height: 100%;
    display: flex;
    gap: 32px;
    flex-flow: row wrap;
    justify-content: center;
}

.personnage {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    cursor: pointer;
}

/* Partie du site où l'on peut voir les statistiques moyennes des champions */
.PartieDroite {
    grid-column: 3/ 4;
    grid-row: 2;
    background-color: #000212;
    border-left: solid #F6FF00 1px;
    overflow: auto;
    scrollbar-color: #F6FF00 #000121;
    scrollbar-width: thin;
}

.PartieDroiteContenu {
    width: 90%;
    margin: auto;
}

.PartieDroiteTitre {
    font-family: Montserrat-bold;
    margin-top: 64px;
    margin-bottom: 32px;
    padding-bottom: 32px;
    position: sticky;
    top: 0;
    background-color: #000212;
}

.MoyenneDesStats {
    display: flex;
    flex-direction: column;
    gap: 16px;
    grid-row: 2;
    padding-bottom: 128px;
}

/* De retour dans la partie centrale et là on fait le style des champions qui défilent */
.personnage>img {
    width: 100px;
    height: 100px;
}

.ChoixSelectionPersonnage {
    display: none;
}

.afficher {
    display: flex;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.afficher>.ChoixSelectionPersonnage {
    display: block;
    width: 25%;
}

.ComparaisonStat {
    display: none;
    transform: scaleY(0%);
    transition: 1s;
}

.afficher>.ComparaisonStat {
    display: block;
    animation: 0.4s ease-in forwards arrive;
}

/* Petite animation pour faire que le svg montrant le personnage comparé a la moyenne apparaisse quand on clic dessus */

@keyframes arrive {
    0% {
        transform: scaleY(0%);
    }

    100% {
        transform: scaleY(100%);
    }
}

/* Style du svg qui compre un champion a la moyenne */

.TitreBarreGraphique {
    fill: whitesmoke;
}

.UneBarre {
    width: 15px;
    background-color: green;
}

.UneBarre2 {
    width: 15px;
    background-color: red;
    border-bottom: black solid 5px;
    transform: rotate(180deg);
}

.LaBranche {
    stroke-dasharray: 1 99;
    transition: 0.4s;
}

.LaBranche:hover {
    stroke-dasharray: 100;
}

svg {
    width: 100%;
    height: 100%;
}

.LaBranche2 {
    transform: translateY(-100%);
}

/* Les titres pour qu'on puisse changer de format du site entre les champions et la comparaison */

.TitreDifferentePartie {
    display: flex;
    gap: 16px;
}

.TitrePartieCentre:nth-child(2) {
    opacity: 15%;
}

/* Style de la comparaison des champions  */

.ComparaisonDesPersonnageGlobal {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.SelectionDesChampionDeLaComparaisonGlobal {
    display: flex;
    justify-content: space-around;
}

.VueComparaisonChampion {
    text-align: center;
}

.PersonnageNonSelectionne {
    font-family: Montserrat-black;
}

.ImageDuPersoSelectionneGlobal {
    display: flex;
    justify-content: space-between;
}

.ImageDuPersoSelectionne {
    width: 100px;
}

/* Le texte qui apparait au hover du graph des perso dans le site en format "champions" */

.LeHoverDuGraph {
    display: none;
}

.LeHoverDuGraphAffiche {
    display: flex;
    background-color: #000212;
    border: solid #F6FF00 1px;
    padding: 8px;
    flex-direction: column;
    gap: 16px;
}

.InformationPersonnageSelectionne {
    padding-left: 8px;
}

.TitreDuHover {
    font-family: Montserrat-bold;
    font-size: 20px;
}

/* Pour le hover du graph des perso dans le site en format "comparaison" */

foreignObject {
    pointer-events: none;
}

.ImageDuPersoSelectionneGlobal>div:nth-of-type(1)>img {
    box-shadow: 0px 0px 15px green;
}

.ImageDuPersoSelectionneGlobal>div:nth-of-type(2)>img {
    box-shadow: 0px 0px 15px red;
}

.GraphDeLaComparaison {
    transform: scaleY(-100%);
    width: 100%;
}

.SVGDeLaComparaison>* {
    transform: translateY(4px);
}

polyline:nth-child(2) {
    stroke-dasharray: 25 10;
}

/* Le filtrage en fonction du nom visible uniquement dans le site en format "champions" */

#FiltrageNom {
    color: white;
    background-color: #565656;
    border: solid #F6FF00 1px;
    padding: 4px;
}

#FiltrageNom::placeholder {
    color: rgb(180, 180, 180);
}

/* Style de la partie de la comparaison */

.PartieComparaisonGlobal {
    display: flex;
}

.RondDeLaComparaison {
    width: 40%;
}

.DansLeRondDeLaComparaison {
    font-size: 8px;
    width: 80%;
    margin: auto;
}

/* Hover du grpah de la page version comparaison */

.HoverComparatif {
    background-color: #000212;
    padding: 8px;
    width: 15%;
    border: solid #F6FF00 1px;
    position: absolute;
    margin-top: 16px;
    display: none;
}

.HoverComparatifTitre {
    font-family: Montserrat-bold;
    margin-bottom: 16px;
    margin-top: 0;
}

.HoverComparatifPerso {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}

.HoverComparatifDefStat {
    text-align: start;
}

.HeaderCategories2 {
    display: none;
}

.HoverComparatifDefStatTitre {
    text-align: start;
    font-family: Montserrat-bold;
    margin-top: 0;
    margin-bottom: 0;
}

/* Le header au format tablette et tout ce qui doit apparaitre uniquement sur tablette est mobile sont cachés  */

.HeaderTablette {
    display: none;
}

.MenuDuCote {
    display: none;
}

.CacheMenu {
    display: none;
}

.FiltrageRole3 {
    display: none;
}

.CompterChampions2 {
    display: none;
}

/* Style pour ecran pas large pour que ce qui ne bouge pas dans la partie centrale ne se rentre pas dedans */

@media screen and (max-width: 1450px) {
    .TitrePartieCentre {
        margin: 0px;
        font-size: 28px;
    }

    .SousTitrePartieCentre {
        display: grid;
        grid-template-rows: auto auto;
    }

    .HeaderDroite {
        grid-row: 1;
        margin-bottom: 16px;
        margin-top: 16px;
    }

    .PartieCentreLogo {
        grid-row: 2;
        margin-left: 16px;
    }

    .PartieCentreQuiBougePas {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

/* Style pour écran pas très haut pour que les stats moyennes se ressert un peu plus et que l'on ai pas a scroll direct */

@media screen and (max-height: 1000px) {
    .MoyenneDesStats {
        gap: 8px;
    }
}

/* Style pour tablette */

@media screen and (max-width: 1300px) {

    /* Remise en page de la partie centrale pour la tablette */

    .TitrePartieCentre {
        font-family: Montserrat-bold;
        cursor: pointer;
        width: fit-content;
    }

    .SousTitrePartieCentre {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* Je change la mise en page du compteur des rôles */

    .CompteurRoleGlobal {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .GraphRole {
        transform: translateY(-10%);
    }

    /* J'enlève ce qui était dans le header que je veux pas dans ce mode */

    .CompterChampions {
        display: none;
    }

    .HeaderCategories {
        display: none;
    }

    /* Et je les replace dans la partie de gauche */

    .HeaderCategories2 {
        display: flex;
        flex-flow: row wrap;
        gap: 32px;
        align-items: center;
        justify-content: center;
    }

    .HeaderLogo {
        width: 20%;
    }

    .Header2 {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .HeaderTablette {
        display: block;
        width: 5%;
    }

    .ContenuHeader {
        margin-top: 4px;
        margin-bottom: 4px;
    }

    /* Le menu qui s'ouvre quand on clic sur les trois barres */

    .MenuDuCote {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #000212;
        display: flex;
        flex-direction: column;
        padding: 16px;
        gap: 32px;
        padding-top: 128px;
        z-index: 50;
        border-left: solid #F6FF00 1px;
        transform: translateX(105%);
        transition: 0.8s;
    }

    .CacheMenu {
        background-color: #000212;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 40;
        opacity: 0%;
        transition: 0.8s;
    }

    .CroixMenu {
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(55px) translateY(16px);
    }

    /* Je fais en sorte qu'on voit que la partie centrale */

    .PartieGauche {
        display: none;
        grid-column: 1 / 4;
        grid-template-columns: auto, 1fr;
    }

    .PartieDroite {
        display: none;
        grid-column: 1 / 4;
        grid-template-columns: auto, 1fr;
    }

    .PartieCentre {
        grid-column: 1 / 4;
        grid-template-columns: auto, 1fr;
    }

    .FiltrageRole3 {
        display: block;
    }

    .HeaderDroite {
        display: flex;
        gap: 16px;
    }

    .ScrollHere {
        height: 100%;
    }

    /* je modifie un peu le hover pour qu'il soit pas trop petit sur tablette et mobile et le replace */

    .HoverComparatif {
        width: 25%;
        transform: translateX(-25%);
    }

    /* j'enlève le background-color bleu très foncé sur tout le monde et leur met un background-color bleu foncé mais pas très */

    .PartieGauche {
        background-color: #000121;
        border: none;
    }

    .PartieDroite {
        background-color: #000121;
        border: none;
    }

    .MouleATarte {
        background-color: #000121;
    }

    .PartieDroiteTitre {
        display: flex;
        justify-content: center;
        background-color: #000121;
    }

    .HeaderLogo {
        width: fit-content;
    }

    .CompterChampions2 {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .HeaderTablette {
        width: 10%;
    }

    /* je refait les titres de la partie centrale pour que ça prenne un peu moins de place */

    .TitreDifferentePartie {
        flex-direction: column;
        gap: 4px;
        margin-top: 16px;
    }

    .TitrePartieCentre {
        margin: 0px;
        font-size: 28px;
    }

    .SousTitrePartieCentre {
        display: grid;
        grid-template-rows: auto auto;
    }

    .HeaderDroite {
        grid-row: 1;
        margin-bottom: 16px;
        margin-top: 16px;
    }

    .PartieCentreLogo {
        grid-row: 2;
        margin-left: 16px;
    }

    .PartieCentreQuiBougePas {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .Logo {
        width: 15%;
    }

    /* remise en page de la partie de droite */

    .MoyenneDesStats {
        padding-bottom: 32px;
    }

    /* je baisse un peu la taille des images des champions pour que ça fasse pas trop gros sur mobile */

    .personnage {
        display: grid;
        grid-template-columns: 75px 1fr;
        grid-template-rows: auto auto;
    }

    .ComparaisonStat {
        grid-column: 1 / 3;
    }

    .RolePersonnageSelectionne {
        height: 100%;
        width: 200px;
    }

    .personnage>img {
        height: 75px;
        width: 75px;
    }

    .ImageDuPersoSelectionne {
        width: 75px;
        margin-top: 16px;
    }

    /* Le graphique et le rond sont désormais l'un au dessus de l'autre dans la partie comparaison de la page */

    .PartieComparaisonGlobal {
        display: grid;
        grid-template-rows: auto auto;
        gap: 8px;
    }

    .RondDeLaComparaison {
        margin: auto;
    }

    .HoverComparatif {
        width: 150%;
        position: initial;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    /* Les pointillet sont moins gros sur le graph de comparaison de deux personnages */

    polyline:nth-child(2) {
        stroke-dasharray: 15 10;
    }
}